  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
 font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
 
}
header {
  background-color: #D9D9D9;
  padding: 0 20px;
  height: 80px;
  width: 100%;
   overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.menu {
 display: flex;
  gap: 20px;
}

nav a { 
  gap: 1px;
  margin-right: 40px;
  color: rgb(53, 48, 48);
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

nav a:hover {
padding: auto;
  background-color: #1ec75c3d;
   border-radius: 8px;
   cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 0;
  padding-left: 0;
}

.logo img {
  display: flex;
  height: 80px;
  margin: 1;
  padding: 0;
  display: block;
}

.logo img {
  display: flex;
  height: 160px;
  margin: 0;
  padding: 0;
  display: block;
}

  h1 { color: #333333; }
        table {
            width: 100%; 
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #ccc; 
            padding: 10px; 
            text-align: left;
        }
        th {
            background: #1EC75C;
            color: white;
        }
        tr:hover {
            background: #f2f2f2;
        }