@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    cursor: default;
}

header {
    background-color: #D9D9D9;
    padding: 0 20px;
    height: 80px;
    overflow: hidden;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.menu {
    display: flex;
    gap: 40px;
}

nav a {
    color: rgb(53, 48, 48);
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    padding: auto;
    background-color: #1ec75c3d;
    border-radius: 8px;
    cursor: pointer;
}

h1 {
    text-align: left;
    color: #333333;
    font-size: 40px;
    line-height: 1.6;
    margin-left: 50px;
    margin-top: 50px;
}


.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 0;
    padding-left: 0;
}

.logo img {
    display: flex;
    height: 80px;
    margin: 1;
    padding: 0;
    display: block;
}

.logo img {
    display: flex;
    height: 160px;
    margin: 0;
    padding: 0;
    display: block;
}

.layout {
  max-width:1200px;
  margin: 20px ;
  padding: 0 20px 40px;
  display: grid;
  grid-template-columns: 1fr 600px; 
  gap: 24px;
  margin-left: 20%;
}


.left-wrapper { 
      width: 200%;
     position: relative; }


.caixa-cinza {
    margin-right: 30%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  background: #ccc;
  border-radius: 10px;
  z-index: 0; 
  box-shadow: 0 6px 18px #726f6f;
}

.dadosvaga {
     margin-right: 30%;
  position: relative;
  z-index: 1; 
  background: #ffffff;
  padding: 18px;
  border-radius: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.06);
}

.dadosvaga .h2 {
    text-align: center;
    color: #333333;
    margin-left: 25px;
    margin-bottom: 10px;
    padding: 15px;
    z-index: 1;
}

.dadosvaga .p{
    text-align: center;
  color: #333333;
    margin-left: 25px;
    margin-bottom: 10px;
    padding: 6px;
    z-index: 1;
}

 
button  {
    margin-top:50px;
  background-color: #D9D9D9;
  border-radius: 8px;
 color: #333;
  display: inline-block;         
  gap: 25px;              
  justify-content: center;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.3s;
}
button:hover {
   background-color: #1EC75C;
  color: white;
}


