@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  cursor: default;
}

header {
  background-color: #D9D9D9;
  padding: 0 20px;
  height: 80px;
  overflow: hidden;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.menu {
  display: flex;
  gap: 40px;
}

nav a {
  color: rgb(53, 48, 48);
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

h1 {
  text-align: left;
  color: #333333;
  font-size: 40px;
  line-height: 1.6;
  margin-left: 50px;
  margin-top: 50px;
}


.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a:hover {
padding: auto;
  background-color: #1ec75c3d;
   border-radius: 8px;
   cursor: pointer;
}
.logo {
  margin-left: 0;
  padding-left: 0;
}

.logo img {
  display: flex;
  height: 80px;
  margin: 1;
  padding: 0;
  display: block;
}

.logo img {
  display: flex;
  height: 160px;
  margin: 0;
  padding: 0;
  display: block;
}


h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333333;
  font-size: 30px;
  line-height: 1.6;
  margin-left: 50px;
  margin-top: 50px;
}

.verde {
  color: #1EC75C;
}

.documentos {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 400px;
   align-items: center;
   margin: 0 auto;
}

.btn-download {
  display: flex;
  width: 250px;
  padding: 12px 20px;
  margin: 10px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  background-color: #1EC75C;
  color: white;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease, transform 0.2s ease;
}

.btn-download:hover {
  transform: scale(1.03);
}

.btn-download i {
  font-size: 18px;
}

.enviar-documentos{
   gap: 20px;
  padding: 20px;
  align-items: center; 
  text-align: center;
}
 h2{
    text-align: center;
    font-size: 30px;
    color: #333333;
}

.formEnvio label { 
  font-weight: bold; color: #333333;
 }
.formEnvio input[type="text"]
{
  border: 1px solid #333333;
  border-radius: 8px;
  font-size: 14px;
  width: 30%;
  height: auto;
}

.formEnvio input[type="file"]
{
  border: 1px solid #333333;
  border-radius: 8px;
  font-size: 14px;
  width: 30%;
  height: auto;
}
select {
  border-radius: 8px;
  width: 30%;
  height: auto;
}



button{
   margin-top: 6px;
  padding: 12px;
  background: #1EC75C;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

  h1 { color: #333333; }
        table {
            width: 100%; 
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #ccc; 
            padding: 10px; 
            text-align: left;
        }
        th {
            background: #1EC75C;
            color: white;
        }
        tr:hover {
            background: #f2f2f2;
        }
  
