@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/*
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
}*/

body {
   box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  min-height: 100vh;
  cursor: default;
}

header {
  background-color: #D9D9D9;
  padding: 0 20px;
  height: 80px;
  overflow: hidden;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.menu {
  display: flex;
  gap: 40px;
}

nav a { 
  color: #353030;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

nav a:hover {
padding: auto;
  background-color: #1ec75c3d;
   border-radius: 8px;
   cursor: pointer;
}

h1 {
  text-align: left;
  color: #333333;
  font-size: 40px;
  line-height: 1.6;
  margin-left: 50px;
  margin-top: 50px;
}
.logo {
  margin-left: 0;
  padding-left: 0;
}

.logo img {
  display: flex;
  height: 80px;
  margin: 1;
  padding: 0;
  display: block;
}

.logo img {
  display: flex;
  height: 160px;
  margin: 0;
  padding: 0;
  display: block;
}

button {
  background-color: #D9D9D9;
  border-radius: 8px;
  border: none;
 color: #333;
  transition: background 0.3s;
}
button:hover {
   background-color: #1EC75C;
  color: white;
}

h1 { color: #333333; }
        table {
            width: 100%; 
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #ccc; 
            padding: 10px; 
            text-align: left;
        }
        th {
            background: #1EC75C;
            color: white;
        }
        tr:hover {
            background: #f2f2f2;
        }
