@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
 font-family: Arial, sans-serif;
  background: url('imagens/ApresentaçãodeNegocios.png') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
 
}
header {
  background-color: #D9D9D9;
  padding: 0 20px;
  height: 80px;
  width: 100%;
   overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.menu {
 display: flex;
  gap: 20px;
}

nav a { 
  gap: 1px;
  margin-right: 40px;
  color: rgb(53, 48, 48);
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

nav a:hover {
padding: auto;
  background-color: #1ec75c3d;
   border-radius: 8px;
   cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 0;
  padding-left: 0;
}

.logo img {
  display: flex;
  height: 80px;
  margin: 1;
  padding: 0;
  display: block;
}

.logo img {
  display: flex;
  height: 160px;
  margin: 0;
  padding: 0;
  display: block;
}


.login-box {
  margin-top: 120px;
  width: 350px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
}

.login-box h2 {
  text-align: center;
  margin-left: auto;
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #333333;
}

.login-box input::placeholder {
  color: #333333;
 
}

.login-box button {
  width: 100%;
  padding: 10px;
  background-color: rgba(30, 199, 92, 0.6); 
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-box button:hover {
  background-color: rgba(30, 199, 92, 0.8); 
}

h2 {
  text-align: center;
  color: #333333;
  font-size: 30px;
  line-height: 1.6;
  margin-left: 50px;
  margin-top: 10px;
}
 
p{
    text-align: center;
  color: #333333;
  font-size: 16px;
  line-height: 1.6;
  margin-left: 50px;
  margin-top: 10px;
}
p .verde {
  color: #0b5727;
  font-weight: bold;
}
