@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
 font-family: Arial, sans-serif;
  height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;
  position: relative;
  z-index: 1;
 
}
header {
  background-color: #D9D9D9;
  padding: 0 20px;
  height: 80px;
  width: 100%;
   overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.menu {
 display: flex;
  gap: 20px;
}

nav a { 
  gap: 1px;
  margin-right: 40px;
  color: rgb(53, 48, 48);
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

nav a:hover {
padding: auto;
  background-color: #1ec75c3d;
   border-radius: 8px;
   cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 0;
  padding-left: 0;
}

.logo img {
  display: flex;
  height: 80px;
  margin: 1;
  padding: 0;
  display: block;
}

.logo img {
  display: flex;
  height: 160px;
  margin: 0;
  padding: 0;
  display: block;
}
.layout {
  max-width:1200px;
  margin-top: 20%;
  display: grid;
  gap: 10px;
  align-items: center;
}

  .background-box {
        position: absolute;
        width: 410px;
        height: 210px;
        background: #afacac; 
        border-radius: 15px;
        z-index: 0;
    }
 .container {
            background: white;
            padding: 30px;
            width: 450px;
            border-radius: 10px;
              box-shadow: 0 4px 25px rgba(0, 0, 0, 0.35);
        text-align: center;
        z-index: 1;
         
        }

        h2 {
            margin-bottom: 20px;
            color: #333333; 
        }

        input[type="password"] {
            width: 50px;
            padding: 10px;
            border: 1px solid #ccc;
            margin-bottom: 15px;
            border-radius: 5px;
            align-items: center;
        }

        button {
            width: 100%;
            padding: 12px;
            background: #1EC75C;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

    .senha{
      border-radius: 8px;
      border: solid #1EC75C;
       width: 450px;
    }
